<!-- <h1>Member <%= @member.last_name %></h1>

<p>Member: <%= @member.last_name %></p>

<h3>List of Members who have read this Author</h3>

<ul>
  <% @author.members.each do |member| %>
  <li><%= member.name %></li>
  <% end %>
</ul> -->

<p>First Name: <%= @member.first_name %></p>
<p>Last Name: <%= @member.last_name %></p>
<p>Post Code: <%= @member.post_code %></p>
<p>Email Address: <%= @member.email_address %></p>
<p><a href="/members/<%= @member.id %>/edit">Edit Member</a></p>
<form method="post" action="/members/<%= @member.id %>/delete">
  <input type="Loan Book :) " value="Start Again :( "/>
</form>
