<h1>Books</h1>
<br></br>
<form method="get" action="/books/new">
    <button type="submit">Add a new BOOK to the library !</button>
</form>
<br></br>

<table>
  <tr>
    <th>First Name</th>
    <th></th>
    <th>Author</th>
    <th></th>
    <th>Genre</th>
    <th></th>
  </tr>

  <% for book in @books %>

  <tr>
    <td><a href="/books/<%= book.id %>"><%= book.title %></a></td>
    <td>|</td>
    <td><a href="/books/<%= book.id %>"><%= book.author_id %></a></td>
    <td>|</td>
    <td><a href="/books/<%= book.id %>"><%= book.genre_id %></a></td>
    <td>|</td>
  </tr>

  <% end %>

</table>
