<form method="post" action="/loans/<%= @loan.id %>">

  <label for="member-id-field">Member ID:</label>
  <input
  type="text"
  name="member-id"
  id="member-id-field"
  value = "<%= @loan.member_id %>"
  />

  <label for="book-id-field">Book ID:</label>
  <input
  type="text"
  name="book-id"
  id="book-id-field"
  value = "<%= @loan.book_id %>"
  />

  <label for="loan-start-date-field">Loan Start Date:</label>
  <input
  type="date"
  name="loan-start-date"
  id="loan-start-date-field"
  value = "<%= @loan.loan_start_date %>"
  />


  <label for="loan-length-field">Loan Length:</label>
  <input
  type="number"
  name="loan-length"
  min="1"
  max="21"
  id="loan-length-field"
  value = "<%= @loan.loan_length %>"
  />


  <input type="submit" value="Edit existing Loan!">
</form>
